* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: black;
}

ul,
ol {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

a {
    text-decoration: none;;
}

p {
    line-height: 2;
}

.contenedor {
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
}

.boton {
    font-weight: 600;
    padding: 1rem 3rem;
    display: block;
    margin: 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid orange;
    border-radius: 10px;
    color: orange;
    transition: .5s;
}

.boton:hover {
    background-color: orange;
    color: #fff;
}

.boton-en-linea {
    display: inline-block;
}

/*HEADER*/

header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header.jpg);
    background-size: cover;
    background-position: center center;
}

.headerContenido {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-weight: 400;
    transition: .5s;
}

nav a:hover {
    color: orange;
}

.headerContenido h1 {
    font-size: 2rem;
    color: white;
    max-width: 30rem;
}

/*SECCION NOSOTROS*/
#seccionNosotros {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

#seccionNosotros h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: orange;
    padding: 20px;
    text-decoration-thickness: 3px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 20rem;
    background-color: #fff;
    margin: 1.5rem;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.52);
}
.item img {
    margin: 1rem 0;
}

.item h3 {
    margin-bottom: 1rem;
    font-weight: 550;
}

.item hr {
    width: 40%;
    margin: auto;
    color: black;
    margin-bottom: 20px;
}

.nosotros-boton {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

/*SECCION ANUNCIOS*/

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: orange;
    padding: 20px;
    text-decoration-thickness: 3px;
}

.mainContenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.anuncios {
    width: 21.5rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #F5F5F5;
    border: 1px solid #D3D3D3;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.52);
}

.anunciosContenido {
    padding: 1rem;
}

.anunciosContenido h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.anunciosPrecio {
    font-weight: 700;
}

.anunciosContenido ul {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.anunciosContenido i {
    margin-right: 1rem;
}

.anunciosBoton {
    text-align: right;
}

/*SECCION CONTACTO*/

#seccionContacto {
    background: url(../img/encuentra.jpg);
    background-size: cover;
}

.contacto {
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacto h2 {
    font-size: 30px;
    color: #fff;
}

.contacto p {
    color: #fff;
}

/*SECCION BLOG Y TESTIMONIOS*/

.seccionColumnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.col1 {
    width: 40rem;
}

.col2 {
    width: 24rem;
}

/*SECCION BLOG*/

article {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.artImg {
    width: 15rem;
}

.articleContenido {
    width: 25rem;
    padding-left: 2rem;
    text-align: left;
}

article img {
    width: 100%;
}

.articleContenido h3:after {
    content: "";
    display: block;
    width: 10rem;
    height: 0.2rem;
}

.articleFooter {
    text-align: right;
    padding: 0 2rem;
}

.testimoniosContenido {
    background-color: green;
    color: #fff;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.testimoniosText {
    display: flex;
}

/*SECCION FOOTER*/

footer {
    background-color: #000;
    color: #fff;
}

.footerContenido {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerContenido i {
    margin: 0.3rem;
}